.div1{
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.btn{
    background-color: rgb(0, 36, 241);
    color: #fff;
}

.btn:active {
    transform: scale(0.9);
}